<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock %}</title>

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="l-page">
    <header class="l-header">
        <div class="l-header__region container">
            <nav>
                <ul>
                    <li><a href="/">Homepage</a></li>
                    <li><a href="/news/">News</a></li>
                    <li><a href="/test/">Test</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="l-main container">
        <div class="l-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <footer class="l-footer container">
        {% block footer_addition %}{% endblock %}
    </footer>
</div>
</body>
</html>
